/* stylelint-disable comment-empty-line-before */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  background-color: var(--primary-color);
  min-height: 70px;
  color: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .nav {
  display: flex;
}

header .nav li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 30px;
  position: relative;
  color: var(--light-color);
  font-weight: 300;
}

header .nav li:hover {
  border-bottom: 2px solid #fff;
}

header .container .logo {
  color: var(--light-color);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 26px;
}

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
}

.showcase .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.showcase-text h1 {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

.showcase p {
  margin: 20px 0;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px !important;
}

.btn:hover {
  transform: scale(0.98);
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

.showcase-form {
  height: 350px;
  width: 400px;
  padding: 40px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.card h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

.showcase-form .form-ctrl {
  margin: 30px 0;
}

.showcase-form input[type="text"] {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input[type="email"] {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.btn-p {
  background-color: var(--primary-color);
  color: #fff;
  outline: none;
  border: none;
}

.stats {
  padding-top: 100px;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.my-4 {
  margin: 3rem 0;
}

.grid {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.stats .grid h3 {
  font-size: 35px;
  margin: 15px 0;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

.text-secondary {
  color: var(--secondary-color);
}

p {
  margin: 10px 0;
}

.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

img {
  width: 100%;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.grid-3 img {
  width: 65px;
}

.py-2 {
  padding: 1.5rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

.text-center {
  text-align: center;
}

.lg {
  font-size: 3rem;
}

.bg-primary .text-center h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

.lead {
  font-size: 20px;
}

.bg-primary a {
  color: #fff;
}

.btn-dark {
  background-color: var(--dark-color);
}

.bg-primary img {
  width: 350px;
}
/* Language Support */
.md {
  font-size: 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
}
